body {
  margin: 0;
  background-image: url(images/reviews.jpg);
  background-size: cover;
  background-position: top;
}

#page {
  width: 100%;
  padding: 70px 2%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.review-card {
  padding: 5px;
  border: 2px solid #080808;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* width: 33%; */
  font-style: italic;
  background: #cfe0e8;
  box-shadow: 20px 20px 20px rgba(31, 88, 106, 0.8);
}

.rate {
  float: left;
  height: 20px;
  padding: 0 5px;
  flex-wrap: wrap;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
/* sa stilizam un card reviews 
putem adauga stelutele
sau un background pentru fiecare 
sau alta imagine de back ground */
