body {
  margin: 0;
}

.page {
  background-image: url('/images/background-resevation.jpg');
  background-position: top;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#reservation {
  background-color: rgba(71, 91, 99, 0.8);
  padding: 5px 20px 20px 20px;
  border-radius: 20px;
  width: 350px;
}

form {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form h2 {
  border-bottom: 1px solid #fff;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

input {
  border-radius: 5px;
}

textarea {
  resize: none;
  width: 100%;
}

input[type='date'] {
  padding: 5px 10px;
  width: 150px;
}

input[type='number'] {
  width: 30px;
  padding: 5px 0px 5px 15px;
}

input[type='submit'] {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: #4ba3c3;
  font-size: 1.2em;
  color: rgb(228, 196, 36);
}

input[type='submit']:hover {
  background-color: rgb(228, 196, 36);
  color: black;
}
